[package]
name = "paper-age"
description = "Easy and secure paper backups of secrets"
version = "0.1.0-prerelease4"
edition = "2021"
repository = "https://github.com/matiaskorhonen/paper-age"
authors = ["Matias Korhonen <me@matiaskorhonen.fi>"]
license = "MIT"
categories = ["command-line-utilities", "cryptography"]

[package.metadata.release]
pre-release-commit-message = "Release"
tag-message = "Release {{crate_name}} version {{version}}"
sign-tag = true
pre-release-replacements = [
  {file="CHANGELOG.md", search="Unreleased", replace="{{version}}", min=1},
  {file="CHANGELOG.md", search="\\.\\.\\.HEAD", replace="...{{tag_name}}", exactly=1},
  {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}", min=1},
  {file="CHANGELOG.md", search="<!-- next-header -->", replace="<!-- next-header -->\n## [Unreleased] - ReleaseDate\n", exactly=1},
  {file="CHANGELOG.md", search="<!-- next-url -->", replace="<!-- next-url -->\n[Unreleased]: https://github.com/crate-ci/cargo-release/compare/{{tag_name}}...HEAD", exactly=1},
]

[dependencies]
age = { version = "0.9.0", features = ["armor", "cli-common"] }
clap = { version = "4.1.4", features = ["derive"] }
clap-verbosity-flag = "2.0.0"
exitcode = "1.1.2"
printpdf = { version = "0.5.3", features = ["svg"] }
qrcode = "0.12.0"
log = "0.4.17"
env_logger = "0.10.0"

[dev-dependencies]
assert_cmd = "2.0.8"
assert_fs = "1.0.10"
predicates = "2.1.5"

[build-dependencies]
clap = { version = "4.1.4", features = ["derive"] }
clap-verbosity-flag = "2.0.0"
clap_mangen = { version = "0.2.7" }
